@{
    ViewData["Title"] = "Menu";
}
<div class="row" style="text-align: center; padding-top: 35px;">
    <div class="col-md-4">
        <div>
            <a href="../Cliente/Index"><img src="~/img/cliente.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Clientes</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Categoria/Index"><img src="~/img/categoria.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Categoria</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Veiculo/Index"><img src="~/img/veiculo.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Veículos</span>
    </div>
</div>
    <div class="row" style="text-align: center; padding-top: 55px">
        <div class="col-md-4">
             <div>
                 <a href="../Contrato/Index"><img src="~/img/contrato.png" width="150" height="150" /></a>
             </div>
        <span>Registro de Contratos</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Relatorio/Grafico"><img src="~/img/relatorios.png" width="150" height="150" /></a>
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Configuracao/Index"><img src="~/img/configuracoes.png" width="150" height="150" /></a>
        </div>
        <span>Configurações</span>
    </div>
</div>

